section.hero.is-medium.has-text-black.has-text-centered.header-component
  div.hero-body
    h1.has-text-black.has-text-centered Grounds Central Station
    h3.is-size-1 9360 Main Street, Manassas
    h3.is-size-2 Mon-Thurs: 6am - 9pm, Fri: 6am- 10pm, Sat: 7am - 10pm, Sun: 8am - 8pm