nav(role='navigation' aria-label='main navigation').level
  a(role='button' aria-label='menu' aria-expanded='false').navbar-burger
    span(aria-hidden='true')
    span(aria-hidden='true')
    span(aria-hidden='true')
  p.level-item.has-text-centered
    a(href='#').link
      i.fa.fa-home.fa-2x
      span.is-hidden-mobile Home
  p.level-item.has-text-centered
    a(href='#').link
      i.fa.fa-coffee.fa-2x
      span.is-hidden-mobile Menu
  p.level-item.has-text-centered
    a(href='#').link
      i.fa.fa-envelope.fa-2x
      span.is-hidden-mobile Contact Us
  p.level-item.has-text-centered
    a(href='#').link
      i.fa.fa-camera.fa-2x
      span.is-hidden-mobile Photos

